*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    letter-spacing:0;
}
@font-face {
    font-family: 'Sprintura';
    src: url('Sprintura-Demo.otf') format('opentype');
}
@font-face {
    font-family: 'CursedTimer';
    src: url('CursedTimerUlil-Aznm.ttf') format('truetype');
}

/* Example usage */
.speed-up-text {
    font-family: 'CursedTimer', sans-serif; /* fallback to sans-serif */
}

body{
    /* overflow:hidden; */
}
.wrapper{
    height:100vh;
    width:100%;
    overflow:hidden;
}
.game-engine{
    height:100%;
    width:100%;
    background-color:transparent;
    overflow:hidden;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    position:relative;
}
.game-engine .bird{
    height:8vw;
    width:16vw;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:flex;
    justify-content:center;
    align-items:center;
}
.game-engine .h2{
    font-size:4vw;
    font-family: 'CursedTimer';
    user-select: none;      
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none; 
}
.bird:nth-child(1){
    display:none;
}
.game-engine .bird svg{
    height:100%;
    width:50%;
}
@media screen and (max-width: 950px) {
    .game-engine .bird{
        height:16vw;
        width:32vw;
    }
    .wrapper{
       height:100vh;
       width:100%;
       overflow:hidden;
   }
}